/KrishiMandal/dist/
/KrishiMandal/build/
/KrishiMandal/KRISHI MANDAL.pdf
/KrishiMandal/KrishiMandal.iml
/KrishiMandal/logo.jpg
/KrishiMandal/PitchDeckKM (1).pptx
/Krishi Mandal-frontend/node_modules/
/Krishi Mandal-frontend/dist/
/.idea/
*.iml
