<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>CorsFilter</filter-name>
        <filter-class>in.krishimandal.filter.CorsFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CorsFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <listener>
        <listener-class>
            in.krishimandal.listener.DBConnectionListener
        </listener-class>
    </listener>
    <context-param>
        <param-name>url</param-name>
        <param-value>jdbc:oracle:thin:@localhost:1521/xe</param-value>
    </context-param>
    <context-param>
        <param-name>username</param-name>
        <param-value>krishimandal</param-value>
    </context-param>
    <context-param>
        <param-name>password</param-name>
        <param-value>sih</param-value>
    </context-param>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>in.krishimandal.servlet.ProductsListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>in.krishimandal.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductServlet</servlet-name>
        <servlet-class>in.krishimandal.servlet.ProductsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductsServlet</servlet-name>
        <servlet-class>in.krishimandal.servlet.ProductsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductsListServlet</servlet-name>
        <servlet-class>in.krishimandal.servlet.ProductsListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUpServlet</servlet-name>
        <servlet-class>in.krishimandal.servlet.SignUpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RentingServlet</servlet-name>
        <servlet-class>in.krishimandal.servlet.Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JobServlet</servlet-name>
        <servlet-class>in.krishimandal.servlet.JobServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JobListServlet</servlet-name>
        <servlet-class>in.krishimandal.pojo.JobListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PurchaseServlet</servlet-name>
        <servlet-class>in.krishimandal.servlet.PurchaseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JobApplicationServlet</servlet-name>
        <servlet-class>in.krishimandal.servlet.JobApplicationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet</servlet-name>
        <servlet-class>in.krishimandal.servlet.Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileServlet</servlet-name>
        <servlet-class>in.krishimandal.servlet.ProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderServlet</servlet-name>
        <servlet-class>in.krishimandal.servlet.OrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderDetailsServlet</servlet-name>
        <servlet-class>in.krishimandal.servlet.OrderDetailsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyApplicationServlet</servlet-name>
        <servlet-class>in.krishimandal.servlet.MyApplicationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LandCollabServlet</servlet-name>
        <servlet-class>in.krishimandal.servlet.LandCollabServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductServlet</servlet-name>
        <url-pattern>/ProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductsServlet</servlet-name>
        <url-pattern>/ProductsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductsListServlet</servlet-name>
        <url-pattern>/ProductsListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUpServlet</servlet-name>
        <url-pattern>/SignUpServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RentingServlet</servlet-name>
        <url-pattern>/RentingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JobServlet</servlet-name>
        <url-pattern>/JobServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JobListServlet</servlet-name>
        <url-pattern>/JobListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PurchaseServlet</servlet-name>
        <url-pattern>/PurchaseServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JobApplicationServlet</servlet-name>
        <url-pattern>/JobApplicationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet</servlet-name>
        <url-pattern>/Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileServlet</servlet-name>
        <url-pattern>/ProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderServlet</servlet-name>
        <url-pattern>/OrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderDetailsServlet</servlet-name>
        <url-pattern>/OrderDetailsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyApplicationServlet</servlet-name>
        <url-pattern>/MyApplicationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LandCollabServlet</servlet-name>
        <url-pattern>/LandCollabServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
